@using Aviation_WebApp.ViewModels
@model FlightViewModel

<div class="container text-white-50 mucho-margin-top">
    <div class="mb-4"><br /><br /></div>
    <h1 class="display-2 text-white text-center">OpenWeatherMap API Demo</h1>
    <h2>Getting the weather by City Name.</h2>
    @using (Html.BeginForm("FlightArrival", "Arrival", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Enter Airport Code: </td>
                <td>@Html.TextBoxFor(x => x.iata)</td>
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
    }
</div>