@using Aviation_WebApp.ViewModels
@model FlightViewModel


<style>
    body {
            background-image: url("https://images.unsplash.com/photo-1574266965598-733f8ff7e41a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
    }
    div{
        font-family: "consolas";  
    }
</style>

<h3><strong>Search Airport Arriving Flights</strong></h3>
<div style="display: list item">
    
    @using (Html.BeginForm("FlightArrival", "Arrival", FormMethod.Post))
    {
        
        <table class="table"; style="border-style: groove;">
            <tr>
                <th>Enter Airport IATA Code: </th>
            </tr>
                <td>@Html.TextBoxFor(x => x.iata)</td>
            <tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="Search" /></td>
            </tr>
        </table>
    }
</div>
