@using Aviation_WebApp.ViewModels
@model FlightViewModel


<style>
    body {
            background-image: url("https://images.unsplash.com/photo-1535284616907-29a0e221d893?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
    }
    div{
        font-family: "consolas";  
    }
</style>
<h3><strong>Search Airport Departing Flights</strong></h3>
<div style="display: list item">
    @using (Html.BeginForm("FlightTracker", "Flight", FormMethod.Post))
    {
        <table class="table"; style="border-style: groove;">
            <tr>
                <th>Enter Airport IATA Code: </th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(x => x.iata)</td>
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="Search" /></td>
            </tr>
        </table>
    }
</div>