@using Aviation_WebApp.ViewModels
@model FlightViewModel

<h3>Search Airport Departing Flights</h3>
<div style="display: list item">
    @using (Html.BeginForm("FlightTracker", "Flight", FormMethod.Post))
    {
        <table class="table"; style="border-style: groove;">
            <tr>
                <th>Enter Airport IATA Code: </th>
            </tr>
            <tr>
                <td>@Html.TextBoxFor(x => x.iata)</td>
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="Search" /></td>
            </tr>
        </table>
    }
</div>