@using Aviation_WebApp.ViewModels
@model FlightViewModel

<h3>Enter Airport IATA Code</h3>
<div style="display: list item">
    @using (Html.BeginForm("FlightTracker", "Flight", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Enter Airport Code: </td>
                <td>@Html.TextBoxFor(x => x.iata)</td>
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="Submit Form" /></td>
            </tr>
        </table>
    }
</div>